* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(315deg, #0066ff, #00ffcc);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  background-color: white;
  padding: 10px 24px;
  border-radius: 20px;
  width: 430px;
}

h1 {
  color: #364547;
  margin-left: 40px;
  margin-bottom: 0.5em;
  font-family: sans-serif;
}

.container .box {
  width: 100%;
  display: flex;
}

.box div {
  width: 100%;
}

select {
  width: 95%;
  height: 40px;
  font-size: 1em;
  cursor: pointer;
  background: #bdcbc7;
  outline: none;
  color: black;
  margin: 0.2em 0;
  padding: 0 1em;
  border-radius: 10px;
  border: none;
}

input {
  width: 95%;
  height: 40px;
  font-size: 1.5em;
  margin: 0.2em 0;
  border-radius: 10px;
  border: none;
  background: #cccccc;
  outline: none;
  padding: 0 1em;
  color: black;
}

.btn {
  width: 98%;
  height: 40px;
  background: #2527ae;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-size: 1em;
  margin: 0.5em 0;
}

/* .result {
    font-size: 60px;
    
} */
